# ------------------------------------------
# General
# ------------------------------------------
*.log
*.class
.DS_Store
Thumbs.db

# ------------------------------------------
# VSCode files
# ------------------------------------------
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# ------------------------------------------
# Backend
# ------------------------------------------
backend/target/

# ------------------------------------------
# Frontend
# ------------------------------------------
frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/.angular/
frontend/coverage/

# Node logs
npm-debug.log
yarn-error.log
