# ------------------------------------------
# General
# ------------------------------------------
*.log
*.class
.DS_Store
Thumbs.db

# ------------------------------------------
# VSCode files
# ------------------------------------------
.vscode/

# ------------------------------------------
# Backend
# ------------------------------------------
backend/target/

# ------------------------------------------
# Frontend
# ------------------------------------------
frontend/.angular/
frontend/.vscode/*.json
frontend/node_modules/
frontend/dist/

# Node logs
npm-debug.log
yarn-error.log
